body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}

*,
body,
html {
	font-family: Consolas, Courier, monospace;
}

body {
	background-color: #e4e4e4;
}

body,
textarea {
	font-size: 16px;
	color: black;
}

#notepad {
	position: fixed;
	top: 0;
	left: 0;
	border: none;
	outline: 0;
	resize: none;
	margin: 10px 10px 5px 10px;
	padding: 10px;
	width: calc(100% - 40px);
	height: calc(50% - 35px);
	background-color: #f7f7f7;
}

#preview {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px;
	margin: 5px 10px 10px 10px;
	width: calc(100% - 40px);
	height: calc(50% - 35px);
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
}

#previewEle {
	flex: 1;
}

.imgSvg {
	width: 100%;
	height: 100%;
	border: 0;
}

#exportsBt {
	border-radius: 5px;
	padding: 10px;
}

#exportsBt:hover {
	opacity: 0.7;
}

#exportsBt:active {
	opacity: 0.8;
}

#prevtext {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center
}