html, body{
	font-size: 13px;
}
.downloadFa {
	padding: 10px 10px 10px 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%
}
.downloadFa:hover {
	background-color: color-mix(in srgb, var(--vscode-editor-background) 90%, var(--vscode-editor-foreground) 10%)
}
.downloadFa:not(:hover) > .download {
	display: none
}
li:not(.lisum) {
	list-style-type: circle
}
li.lisum {
	list-style-type: none
}
li.lisum summary {
	list-style-position: outside
}
