body, html {
	font-size: 13px
}
.downloadFa {
	padding: 10px 10px 10px 34px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 14px);
	margin-left: -30px
}
.downloadFa:hover {
	background-color: color-mix(in srgb, var(--vscode-editor-background) 90%, var(--vscode-editor-foreground) 10%)
}
.downloadFa:not(:hover) > .download, body.mult .download {
	display: none
}
li:not(.lisum) {
	list-style-type: circle
}
li.lisum {
	list-style-type: none
}
li.lisum summary {
	list-style-position: outside
}
ul {
	margin: 0
}
.emptyDir {
	color: color-mix(in srgb, var(--vscode-editor-background) 30%, var(--vscode-editor-foreground) 70%)
}
.cho {
	width: 35.6px;
	height: 35.6px;
	margin: -10px -10px -10px 0;
	display: flex;
	align-items: center;
	justify-content: center
}
.cho:hover {
	background-color: color-mix(in srgb, var(--vscode-editor-foreground) 20%, var(--vscode-editor-background) 80%)
}
.cho:active {
	background-color: color-mix(in srgb, var(--vscode-editor-foreground) 15%, var(--vscode-editor-background) 85%)
}
.cho input[type=checkbox] {
	margin: 0
}
body:not(.mult) .cho {
	display: none
}
button {
	padding: 5px 7px;
	background-color: var(--vscode-editor-foreground);
	color: var(--vscode-editor-background);
	border: 1px solid var(--vscode-editor-border);
	border-radius: 4px
}
button:hover {
	background-color: color-mix(in srgb, var(--vscode-editor-background) 10%, var(--vscode-editor-foreground) 90%)
}
button:active {
	background-color: color-mix(in srgb, var(--vscode-editor-background) 5%, var(--vscode-editor-foreground) 95%)
}
body.mult #dmf {
	background-color: color-mix(in srgb, var(--vscode-editor-background) 20%, var(--vscode-editor-foreground) 80%)
}
body.mult #dmf:hover {
	background-color: color-mix(in srgb, var(--vscode-editor-background) 30%, var(--vscode-editor-foreground) 70%)
}
body.mult #dmf:active {
	background-color: color-mix(in srgb, var(--vscode-editor-background) 25%, var(--vscode-editor-foreground) 75%)
}
body:not(.mult) #ddmf {
	display: none
}
#main {
	margin: 20px -10px 30px 0px;
	line-height: 1.2em
}
#main>ul{
	margin-left: -10px;
}
body:not(:has(#main input[type=checkbox]:checked)) #ddmf, body:not(:has(#main input[type=checkbox]:checked)) #ddmf:active, body:not(:has(#main input[type=checkbox]:checked)) #ddmf:hover {
	cursor: not-allowed;
	background-color: color-mix(in srgb, var(--vscode-editor-background) 40%, var(--vscode-editor-foreground) 60%)
}
